@{
    ViewBag.Title = "Contact Us";
}

<br>
<div>
    <p><a class="btn btn-default" href="Login">Back to Home &raquo;</a></p>
</div>

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="vladimirnikolic24@gmail.com">vladimirnikolic24@gmail.com</a><br />
</address>